.main-heading{
    background-color: cyan;
    color: black;
    text-align: center;
}
.name-heading{
    background-color: pink;
    color: black;
    text-align: center;
}
.assignment-heading{
    background-color: aquamarine;
    color: black;
    text-align: center;
}

th{
    border: 1px solid black;
}
td{
    border: 1px solid black;
}
.white-border{
    border: 1px solid white;
}
.orange{
    background-color: orange;
   }
   .pink{
    background-color: pink;
 }
 .sky-blue{
    background-color: skyblue;
   }
   .yellow{
    background-color: yellow;
   }
   .green{
    background-color: greenyellow;
   }
   .mustard{
    background-color: rgb(225, 169, 94);
   }
   .light-pink{
    background-color: rgb(230, 207, 215);
   }